<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hej Dizparc!💟</h1>

    <div class="container">
        <div class="box">
            <h2>Vem är jag?😎</h2>
            <p>Jag bor i Halmstad tillsammans med min sambo och vår lilla hund Bamse. Jag är en ödmjuk, snäll och engagerad kille som idag studerar projektledning och har en bakgrund inom ledarskap, handledning och coachning. Jag brinner för att skapa struktur, driva förändring och hjälpa människor.</p>
        </div>
        <div class="box">
            <h2>Vad är mina styrkor?💪</h2>
            <p>Ledarskap, kommunikation, samarbetsförmåga, agila arbetssätt, planering och problemlösning. Ansvar, trygghet, engagemang och laganda är viktiga delar som jag värdestätter väldigt högt och som jag tar med mig i arbetslivet.</p>
        </div>
        <div class="box">
            <h2>Vilken resa har varit viktigast för dig?🏖️</h2>
            <p>Augusti 2024 reste jag tillsammans med min sambo till Parga(Grekland) med värme, sol och fantastiska öar att åka båt till, simmade vi i turkost vatten och in i en blå lagun vid ön antipaxos. Ett kärt minne för oss båda som vi tar med oss hela livet.</p>
        </div>
        <div class="box">
            <h2>Vad gör jag idag?👨‍🎓</h2>
            <p>Jag studerar IT-projektledning på Yrkeshögskolan Campus Mölndal där vi går igenom projektmetodik, agila arbetssätt, mjukvaruutveckling, IT infrastruktur med molntjänster, ledarskap, ITIL, IT Service Management, Grupputveckling och affärsmannaskap. Det roligaste har varit att arbeta i agila ramverk och få prova på att utveckla applikationer som utvecklare.</p>
        </div>
        <div class="box">
            <h2>Vad är mina hobbys?⚽</h2>
            <p>Jag älskar fotboll, särskilt Manchester United❣️ Jag älskar att laga mat med nya recept🍽️ och dricker gärna varm choklad i skogen tillsammans med min hund och sambo.</p>
        </div>
        <div class="box">
            <h2>Vad kan jag bidra med under LIA?💼</h2>
            <p>Jag kommer att bidra med ett stort engagemang, nyfikenhet och en förmåga att snabbt sätta mig in i nya verktyg och arbetsmiljöer hos er. Jag är van vid att arbeta i team och har ett strukturerat arbetssätt med fokus på resultat och relationer.</p>
        </div>
    </div>
    <p class="footer-text">Bästa hälsningar,<br>Oliver💟</p>
</body>
</html>
